# docker stop chainbot && docker rm chainbot && docker rmi chainbot
# docker build -t chainbot .
# docker-compose up
# docker exec -it chainbot sh
version: "3.7"

services:
  chainbot:
    container_name: chainbot
    image: chainbot:latest
    ports:
      - "3000:3000"
    networks:
      - chaincue-tech-net

networks:
  chaincue-tech-net:
    name: chaincue-tech-net
    driver: bridge
